# C++/CMake Build Artifacts
/build/
/cpp/evmcpp/tests/evmcpp/build/
/cpp/evmcpp/build/
/cpp/build/
/cpp/Testing/

cuda/build

# Python Cache
/python/src/__pycache__/
*.pyc

# Python Output/Results
/python/evmpy_output/
/python/results/

# Test Results
test-results.xml

# IDE/Editor specific
.vscode/
*.swp
*~

# Other build artifacts and outputs
/cpp/evmcpp/tests/data/
/output_*.avi
*.o
*.obj
*.exe
*.out
*.log
alembic.ini
